* {
    margin: 0;
}

body {
    background-color: #E9F0FF;
    font-family: Arial, Helvetica, sans-serif;
    color: #363842;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 15px;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-container h2 {
    font-size: small;
    font-weight: normal;
}

.product-container {
    gap: 15px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.product {
    max-width: 200px; 
    width: 100%;

    /* use gap for flex instead of margin */
    gap: 10px; 

    background-color: #FFFFFF;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 15px;

    transition: all 0.2s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
    cursor: pointer;
}

.product img {
    margin: 10px auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
}


.product-id {
    text-align: right;
    color: #8A8EA3;
    font-size: 0.65rem;
    font-weight: 600;
}

.product-name {
    font-size: 1.0rem;
    font-weight: normal;
}

.review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.rating-container {
    height: 17px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    margin-left: 10px;
}

.comment-container p {
    margin-left: 3px;
    color: #878BA0;
}

.order-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.original-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-original {
    margin-right: 5px;
    text-decoration: line-through;

    font-size: 13px;
    color: #878BA0;
    font-weight: 500;
}

.price-discount {
    font-size: 10px;
    color: #102B6B;
    background-color: #E9F0FF;
    padding: 2px 4px;

    font-weight: 600;
}

.price-current {
    font-size: 22px;
    font-weight: 600;
    margin-top: 8px;
}

.order-button {
    padding: 15px;
    background-color: #2667FF;
    height: 20px;

    border-radius: 10px;
    transition: transform 0.1s;
}

.order-button:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
}
